/* 
    This file contains general styles for all forms (for user input)
    across the application. Only styles that are widely applicable
    should be in here, while special case CSS should belong to
    individual components that need to tweak the regular appearance.
*/

form {
    padding: 24px;
    contain: layout;
}

.form-fields {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 36px;
}

label {
    display: block;
    min-width: 320px;
    flex: 1 1 0;
    font-size: 1.5rem;
    font-weight: 700;
}

input, textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 48px;
    border: 2px solid #777;
    border-radius: 8px;
    background-color: #e9e9e9;
    padding: 8px 12px;
    font-weight: 400;
    outline: none;
    caret-color: #4CAF50;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: unset;
    min-width: unset;
    min-height: 1em;
    height: 1em;
    width: 1em;
    margin-right: 12px;
}

::placeholder {
    color: inherit;
    opacity: 0.5;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
}

.input-helpers {
    padding: 4px 8px;
    font-size: 0.875rem;
    opacity: 0.7;

    display: flex;
}

.input-hint {
    flex-grow: 1;
    font-weight: 400;
    margin-right: 8px;
}

select {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 48px;
    border-radius: inherit;
    border: none;
    background-color: #e9e9e9;
    padding: 8px 32px 8px 12px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem; /* In case it's not inside of a <label> */
}

/* Used to cleanly add a custom drop-down arrow to the select */
.select-wrapper {
    position: relative;
    border-radius: 8px;
    border: 2px solid #777;
}

.select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-wrapper::after {
    content: "";

    position: absolute;
    top: calc(50% - 6px);
    right: 12px;

    display: block;
    width: 16px;
    height: 16px;
    background-color: currentColor;
    clip-path: polygon(0% 20%, 30% 20%, 50% 40%, 70% 20%, 100% 20%, 50% 70%);
}

.select-wrapper:focus-within {
    border-color: #4CAF50;
}

.form-actions {
    margin: 36px 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}
