
.toolbar {
    min-height: 48px;
    border-bottom: 1px solid #d1d1d1;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.toolbar.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.toolbar.secondary {
    background-color: #eee;
}

.toolbar > h2 {
    margin: 0;
}
