/*
    This file contains broadly-applicable utility classes and is
    included after the other global CSS files so it has higher
    precedence.
*/

.legible-width {
    max-width: 80ch;
    margin: 0 auto;
}

.faded {
    opacity: 0.6;
}

.flex-grow {
    flex-grow: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.isolate {
    isolation: isolate;
}
